@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Generate Art Prompt</h1>
    <button id="generate">Generate</button>
    <br />
    <span id="promptresult">ao</span>
</div>
