@{
    ViewData["Title"] = "Privacy Policy";
}

<h1><code>Art Prompt Challenge</code> privacy policy</h1>

This privacy policy describes how we store, use and protect your privacy information.
<br />
<b>By continuing to use <code>Art Prompt Challenge</code> services after you have registered for an account, you confirm that you consent to the processing of your personal data and to the partial disclosure of your data in accordance with this privacy policy.</b>

<br />
<br />
<br />
<h3>1. Brief (TL;DR)</h3>
<ul>
    <li>
        <b>We take great care to protect your information.</b>
        It is transferred between servers and stored in a database in as encrypted a form as we can ensure.
    </li>
    <li>
        <b>We do not intend to sell or share your data with third parties without your notice and for reasons that are not in line with this privacy policy.</b>
        The use of confidential information for commercial purposes is against company policy. Exceptions to the individual services responsible for the functioning of <code>Art Prompt Challenge</code> and the sharing of your data with third parties <a href="#privpolicy-section4">see here</a>.
    </li>
    <li>
        <b>You can find out what information we hold about you and/or request its deletion.</b>
        Under GDPR law, you can request your data, which is stored on our servers.
    </li>
</ul>

<h3>2. How we store and use your confidential information</h3>
<br />
<h4>2.1. What we use your data for, how this data is collected</h4>
We use each type of information in different ways, but you can rest assured that no information obtained with your consent will be passed to third parties (exceptions <a href="#privpolicy-section4">see here</a>).
It is stored in encrypted form. The following describes the data groups, what they include and how we use them.
All of the following information can be collected either directly by <code>Art Prompt Challenge</code> or through third-party services.
<br />
<br />
<h5>2.1.1 Identification data voluntarily provided by the user</h5>

<ul>
    <li id="privpolicy-section2111">
        <b>2.1.1.1.</b> Contact info (<code>Email address</code>). Used for:
        <ul>
            <li>I. giving you information of extreme importance (e.g. suspicious login attempts etc.)</li>
            <li>II. to log in to your <code>Art Prompt Challenge</code> account</li>
        </ul>
    </li>
    <li id="privpolicy-section2112">
        <b>2.1.1.2.</b> Personal data (<code>Nickname</code>, <code>Date of birthday</code>). This data is used to provide a comfortable and conscientious use of <code>Art Prompt Challenge</code>.
        <ul>
            <li>I. Date of birthday is used to confirm that you are <code>16</code> years old.</li>
            <li>II. Nickname is used to address you on the public or technical elements of <code>Art Prompt Challenge</code> (newsletters, etc.)</li>
        </ul>
    </li>
    <li>
        <b>2.1.1.3.</b> Third-party accounts and their public information (<code>Google</code>, <code>Adobe</code> etc.)
        <br>
        We use the OAuth2 system of third party services to facilitate access to your <code>Art Prompt Challenge</code> account.
        We store your public data that has been requested on the OAuth2 form (e.g. email and username) in a manner and for purposes similar to the processing of the same data when manually entered from the user (clauses <b><a href="#privpolicy-section2111">2.1.1.1.</a></b> and <b><a href="#privpolicy-section2112">2.1.1.2.</a></b>).
    </li>
    <li>
        <b>2.1.1.4.</b> Auth data (<code>Password</code>, <code>One-time login code</code>)
        <br>
        We require these data to ensure access to your account and to protect you against possible hacking attempts.
        > <b>Important</b>: All of the above data is only requested on the <code>Art Prompt Challenge</code> login form. <b>Nowhere else</b>.
    </li>
</ul>

<br />
<h5>2.1.2. Cookie files</h5>

We use cookies and your browser technology based on them for the following purposes:
<ul>
    <li><b>2.1.2.1.</b> Authorization and storage of account session (account cookie). These store information about the current <code>Art Prompt Challenge</code> account session for the current browser (ID and encrypted token).</li>
    <li><b>2.1.2.2.</b> Personalisation ("Visual" Cookies). These store language settings, website themes, and other information about the personalisation of the current session.</li>
</ul>

<br />
<h5>2.1.3. Internet connection data</h5>

We use the following data coming to the <code>Art Prompt Challenge</code> servers along with requests from your browser:
<ul>
    <li>
        <b>2.1.3.1.</b> IP address. Used to create the current session and to regulate user actions.
    </li>
    <li>
        <b>2.1.3.2.</b> HTTP headers. Used for the stable operation of the website on the user side and to provide initial personalisation.
    </li>
</ul>

<br />
<h5 id="privpolicy-section214">2.1.4. Random data voluntarily posted by users to <code>Art Prompt Challenge</code></h5>

You can publish the following data yourself using <code>Art Prompt Challenge</code>. Other users will be able to see them.
<ul>
    <li>
        <b>2.1.4.1.</b> Mediafiles (images, videos etc.).
    </li>
    <li>
        <b>2.1.4.2.</b> Texts (post descriptions, profiles etc.).
    </li>
</ul>

<br />
<h3>3. Purposes of information collection</h3>
<ol>
    <li>To ensure correct access to <code>Art Prompt Challenge</code> or to restrict such access.</li>
    <li>For monitoring and fixing vulnerabilities related to both <code>Art Prompt Challenge</code> and your account.</li>
    <li>To provide a means of communicating with other users.</li>
    <li>To prevent illegal activities.</li>
</ol>

<br />
<h3 id="privpolicy-section4">4. Third party services and applications. Access to your data by third parties.</h3>

Here is a list of the people who can access your information and the types of information they can provide.
<ol>
    <strong>
        <li>Other <code>Art Prompt Challenge</code> users</li>
    </strong>Any <code>Art Prompt Challenge</code> user can access publicly available information (clause <a href="#privpolicy-section214">2.1.4.</a>) about you.
    <strong>
    <li>Peoples or organisations, affiliated to Blusutils or competent authorities.</li>
    </strong>Any affiliated person or organisation or competent authorities may have access to the semi-technical data of <code>Art Prompt Challenge</code> users. Semi-technical data means personal details of the account, excluding login details.
</ol>


<br />
<h3>5. FAQ on your data</h3>

<br />
<h5>5.1 Is there any way you can get this data "for yourself"?</h5>
<strong>No</strong>. All your data is stored encrypted. We do not have direct access to it.
Automated tools are used to recover your accounts and interactions between site elements by interacting with <code>accounts token</code>. Its current version is generated partly on the client side (i.e. your browser) and partly on our servers. We are unable to access the full version.
<br />
<br />
<h5>5.2 How do I request my data?</h5>
All you have to do is go to your account settings, then to the <code>Personal Information</code> section and click on <code>Request Personal Information</code>. You will then have to wait between a day and a week for our servers to collect your personal data from the databases.

<br />
<br />
<br />